.idea
__pycache__
bunny.py
/database.db
./database.db
/data_cleaning.ipynb
./data_cleaning.ipynb
.fuse_hidden00001ecb00000003
.ipynb_checkpoints
main.spec
dist
build
.fuse_hidden0000036e00000001
./packaging
packaging
install.spec
event_log
./event_log
installer.iss
installation_info.txt
installation info.txt
.db
resources/database/temp
temp